################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OpenGLApp/FileContentIndex/15e6a5de-961e-4523-be13-85426b6393d9.vsidx
/.vs/OpenGLApp/FileContentIndex/6b75e43c-0229-409e-95b0-234baf23c1e3.vsidx
/.vs/OpenGLApp/FileContentIndex/35beaedd-b838-41e4-8aa8-40049d4f485f.vsidx
/.vs/OpenGLApp/FileContentIndex/0c3c3181-532e-4d1c-8d61-f693832939db.vsidx
/.vs/OpenGLApp/FileContentIndex/a912143d-9fc8-4b28-8633-353fca72eecb.vsidx
.vs/OpenGLApp/v17/ipch/AutoPCH/1f8e189f56ad0844/MODEL.ipch
.vs/OpenGLApp/v17/ipch/AutoPCH/a1e6ddda2f5a2da1/MAIN.ipch
.vs/OpenGLApp/v17/ipch/AutoPCH/fec74e97a5b3b2db/SHADOWMAP.ipch
.vs/OpenGLApp/v17/ipch/AutoPCH/f28b38bea4fa7158/MAIN.ipch
.vs/OpenGLApp/FileContentIndex/1d5aa46e-e5b2-41bf-862f-564dd1b574ad.vsidx
.vs/OpenGLApp/FileContentIndex/51103042-4a50-4bfd-ba71-b8b00d9bee89.vsidx
.vs/OpenGLApp/FileContentIndex/e8c02224-013d-4b5d-b54f-4159d154e895.vsidx
